/*VARIABLES*/

$color-primary: #0d6efd;
$color-secondary: #6c757d;
$color-success: #198754;
$color-info: #0dcaf0;
$color-warning: #ffc107;
$color-danger: #dc3545;

$site-blue: #0d6efd;
$site-indigo: #6610f2;
$site-purple: #6f42c1;
$site-pink: #d63384;
$site-red: #dc3545;
$site-orange: #fd7e14;
$site-yellow: #ffc107;
$site-green: #198754;
$site-teal: #20c997;
$site-cyan: #0dcaf0;
$site-white: #fff;
$site-gray: #6c757d;
$site-gray-dark: #343a40;
$site-gray-100: #f8f9fa;
$site-gray-200: #e9ecef;
$site-gray-300: #dee2e6;
$site-gray-400: #ced4da;
$site-gray-500: #adb5bd;
$site-gray-600: #6c757d;
$site-gray-700: #495057;
$site-gray-800: #343a40;
$site-gray-900: #212529;
$site-light: #f8f9fa;
$site-dark: #212529;
$site-black: rgba(0, 0, 0, 0.8);

$border-color: $site-gray-300;
$border: 1px solid $border-color !important;
